.u-bgc-main {
  background-color: $main_bg;
}
.u-bgc-sub {
  background-color: $sub_bg;
}
.u-bgc-foot {
  background-color: $main-color;
}
.u-bgc-copy {
  background-color: #2d2d2d;
}
.u-color-main {
  color: $main-color;
}
.u-color-sub {
  color: $sub-color;
}
.u-color-text {
  color: $text;
}
.u-color-white {
  color: #fff;
} 
