extends ./_include/_layout

block var
  - metas = {}
  - metas.title = 'top'
  - metas.description = 'description'
  - metas.path = './'
  - metas.keywords = 'keywords'

block content
  .l-container
    h1.title.u-mt20-20.u-mb20-20.u-tac.u-fz-xxl Hello World!!